<a href="https://colab.research.google.com/github/MariaCruzC/RepositotrioAnalisisDatos/blob/main/IntroPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data={'Country': ['Costa Rica', 'India','Brazil'],
      'Capital':['San Jose', 'New Delhi','Brasilia'],
      'Polulation': [450000,1303171035,2078475228]}
df=pd.DataFrame(data,columns =['Country','Capital','Population'])
print(df)

      Country    Capital Population
0  Costa Rica   San Jose        NaN
1       India  New Delhi        NaN
2      Brazil   Brasilia        NaN

In [ ]:
print("Promedio de los elementos del vestor")
Suma=0
Media=0
Temp=[]
print("Ingrese la cantidad de temperaturas")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]

Media=Suma/N
print(Media)

Promedio de los elementos del vestor
Ingrese la cantidad de temperaturas
2
Ingrese la temperatura: 50
Ingrese la temperatura: 50
50.0

In [ ]:
import pandas as pd

mascota=pd.DataFrame(
  data={
      'name':['Minino','Milo','Snoppy','Blanco','LittlePony'],
      'type':['gato','perro','perro','perro','caballo']  
    },
    index=[71,42,11,98,42]
)

visitas=pd.DataFrame(
  data={
      'pet_id':[42,31,71,42,98,42],
      'fecha':['2019-03-15','2019-03-15','2019-04-05','2019-04-06','2019-04-12','2019-04-15'],
      'costo':[2000,5000,1000,5000,6000,10000]
    }
)

mascota.index.rename('pet_id',inplace=True)

print(visitas)
visitas.index.rename('visit_id',inplace=True)


print(visitas)
print(mascota.query('pet_id==71'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo',ascending=False))

tienda=pd.merge(mascota,visitas, how='cross')
print(tienda)

   pet_id       fecha  costo
0      42  2019-03-15   2000
1      31  2019-03-15   5000
2      71  2019-04-05   1000
3      42  2019-04-06   5000
4      98  2019-04-12   6000
5      42  2019-04-15  10000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   1000
3             42  2019-04-06   5000
4             98  2019-04-12   6000
5             42  2019-04-15  10000
          name  type
pet_id
71      Minino  gato
29000
1000
10000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   1000
3             42  2019-04-06   5000
4             98  2019-04-12   6000
5             42  2019-04-15  10000
          pet_id       fecha  costo
visit_id
5             42  2019-04-15  10000
4             98  2019-04-12   6000
1             31  2019-03-15   5000
3             42  2019-04-06   5000
0             42  2019-03-15   2000
2             71  2019-04-05   1000
          name     type  pet_id       fecha  costo
0       Minino     gato      42  2019-03-15   2000
1       Minino     gato      31  2019-03-15   5000
2       Minino     gato      71  2019-04-05   1000
3       Minino     gato      42  2019-04-06   5000
4       Minino     gato      98  2019-04-12   6000
5       Minino     gato      42  2019-04-15  10000
6         Milo    perro      42  2019-03-15   2000
7         Milo    perro      31  2019-03-15   5000
8         Milo    perro      71  2019-04-05   1000
9         Milo    perro      42  2019-04-06   5000
10        Milo    perro      98  2019-04-12   6000
11        Milo    perro      42  2019-04-15  10000
12      Snoppy    perro      42  2019-03-15   2000
13      Snoppy    perro      31  2019-03-15   5000
14      Snoppy    perro      71  2019-04-05   1000
15      Snoppy    perro      42  2019-04-06   5000
16      Snoppy    perro      98  2019-04-12   6000
17      Snoppy    perro      42  2019-04-15  10000
18      Blanco    perro      42  2019-03-15   2000
19      Blanco    perro      31  2019-03-15   5000
20      Blanco    perro      71  2019-04-05   1000
21      Blanco    perro      42  2019-04-06   5000
22      Blanco    perro      98  2019-04-12   6000
23      Blanco    perro      42  2019-04-15  10000
24  LittlePony  caballo      42  2019-03-15   2000
25  LittlePony  caballo      31  2019-03-15   5000
26  LittlePony  caballo      71  2019-04-05   1000
27  LittlePony  caballo      42  2019-04-06   5000
28  LittlePony  caballo      98  2019-04-12   6000
29  LittlePony  caballo      42  2019-04-15  10000